[2017-11-08 10:58] webeasyplay opened #1 "When I type my password that show this error message"
When I use -o parameter to login and input my username and password
It's show message .

<img width="621" alt="2017-11-08 6 57 00" src="https://user-images.githubusercontent.com/12272185/32545453-bfbf733a-c4b6-11e7-9ce8-1664b27ffe0f.png">

python version 3.5
os         windows7

[2017-11-09 18:58] r0oth3x49 commented on #1
@webeasyplay thanks for using this utility and for the issue. i will try to resolve this error as soon as possible.
Update:
i have fixed & checked the issue can you check and let me know if it is fixed for you or not.
POC:
![untitled](https://user-images.githubusercontent.com/11024397/32628538-0c5f857a-c5b8-11e7-940c-ffbe7343b10e.png)

[2017-11-09 20:37] #1 closed, assigned to nobody

[2017-11-10 02:17] webeasyplay opened #2 "Would you add download subtitle feauture ?"
Would you add download subtitle feauture ?

[2017-11-10 02:22] webeasyplay commented on #1
I try to use the new version!
It's work perfect.
Thank you !

[2017-11-10 12:33] r0oth3x49 commented on #2
@webeasyplay thanks for the suggestion another friend of mine on Facebook also suggested me to add the this feature. you can download subtitles only as well by using (**--sub-only or -s**) option which will skip videos and download the subtitles only, by default it will download the videos and subtitles both.

[2017-11-10 12:33] #2 closed, assigned to nobody

[2017-11-10 12:49] webeasyplay commented on #2
It's work!
But the srt  and video filename are not same.
When I open video player to play the video.
It's not autoload the srt file.
![image](https://user-images.githubusercontent.com/12272185/32659308-17323a32-c659-11e7-9c06-2b9935b5e20e.png)

[2017-11-10 12:55] r0oth3x49 commented on #2
@webeasyplay which video player you are using? there is no option to add subtitle for a video?

[2017-11-10 12:56] webeasyplay commented on #2
PotPlayer!
If filename are same!
It's autoload srt file perfect

[2017-11-10 13:01] r0oth3x49 commented on #2
@webeasyplay can you check again and let me know if still the problem occurs.
POC of same name:
![untitled](https://user-images.githubusercontent.com/11024397/32659729-e4d31438-c641-11e7-9dc5-28927b23355e.png)

[2017-11-10 13:07] webeasyplay commented on #2
I try it again.
The srt file and video filename must be same!
Examle:
001-Welcome.mp4
001-Welcome.srt

In fact
001 Welcome.mp4
001-Welcome.srt

[2017-11-10 13:09] r0oth3x49 commented on #2
@webeasyplay clone the updated repo then try see the above Screenshot of same name.
have a look.
![capture](https://user-images.githubusercontent.com/11024397/32659915-86661aca-c642-11e7-9b25-2d5ad6aa3737.PNG)

[2017-11-10 13:13] webeasyplay commented on #2
It's work now !
Thank you

[2017-11-21 03:04] HoldOnBro opened #3 "sometimes can't download the whole course with my library card authorization"
I‘ve been using this great script for 3 days and have downloaded some lynda videos. Within my use, I encountered some bugs to which I can't find a resolution as I am learning Python and not good at it. Wish this can help make a better lynda-dl.
MY OS is windows 10 and my membership is organization authorization.
some courses's links work just fine, while
https://www.lynda.com/Python-tutorials/Pyth

[2017-11-26 15:42] r0oth3x49 commented on #3
@k432ts thanks for the appreciation & sorry for the late response. i will debug the script against these courses and will update ASAP.

[2018-01-18 21:11] harshes53 opened #4 "[question] How to use organization in a cli?"
So I have a lynda account using New York Public Library, this is the url I use to access the account:  [nypl.org](https://www.lynda.com/portal/patron?org=nypl.org)

I tried all the possible variations for `-o`, can you show me how to use in a cli for a given organization link?

Thanks!

[2018-01-20 16:06] r0oth3x49 commented on #4
@harshes53 thanks for trying this out. can please use some screenshots to show me the way you are using hide your creds.
here is poc how to use this against organization.
![untitled](https://user-images.githubusercontent.com/11024397/35185400-b5bf3430-fe25-11e7-8826-f99d9814a2d1.png)

[2018-01-22 18:22] harshes53 commented on #4
I used the same command, although kept failing on `Login` step.

![screen shot 2018-01-22 at 1 16 39 pm](https://user-images.githubusercontent.com/5522264/35237127-ad943f14-ff77-11e7-81aa-d2d4bfb3aac1.png)

[2018-01-23 20:47] harshes53 commented on #4
Sooo it worked, all I had to do was to change `org_url` in `lynda/_compat.py` from
`org_url     = "https://www.lynda.com/portal/sip?org={organization}"`
to
`org_url     = "https://www.lynda.com/portal/patron?org={organization}"`

Thank you! 💯

[2018-01-23 20:47] #4 closed, assigned to nobody

[2018-02-08 19:44] cipy opened #5 "password prompt is broken in python3"
[code]

[2018-02-10 03:28] r0oth3x49 commented on #5
@cipy will fix it ASAP. thanks for the report.

[2018-02-15 07:50] thomascrha opened #6 "ValueError: Expecting property name enclosed in double quotes: line 1 column 3 (char 2)"
enviroment: Mac OSX Sierra 10.12.6; Python 2.7.10

command: with a valid username and password.
[code]

stacktrace
[code]

[2018-02-17 15:20] #3 closed, assigned to nobody

[2018-02-19 06:14] r0oth3x49 commented on #6
@thomascrha you should use the output directory name in double quotes if directory name has spaces.
example : **-d "path/to/dir"**. the course downloading works fine for me. have a look.
![screen shot 2018-02-18 at 10 08 49 pm](https://user-images.githubusercontent.com/11024397/36364436-ff536c0e-1565-11e8-8ed1-e4e2b0af01cd.png)

[2018-02-19 06:18] r0oth3x49 commented on #5
@cipy its fixed now i 'm closing this issue. have a look.
![screen shot 2018-02-18 at 10 08 49 pm](https://user-images.githubusercontent.com/11024397/36364556-94806b42-1566-11e8-94e7-c4c5f77deeb0.png)

[2018-02-19 06:18] #5 closed, assigned to nobody

[2018-02-24 15:28] rezwan23 opened #7 "can't Download"
ValueError: Expecting property name enclosed in double quotes: line 1 column 3 (char 2)

[2018-02-24 17:24] r0oth3x49 commented on #7
@rezwan23 need more explanation.

[2018-02-26 16:58] #6 closed, assigned to nobody

[2018-02-26 16:58] #7 closed, assigned to nobody

[2018-03-17 03:31] beefsack commented on #7
I'm also getting this, here's the stack trace:

[code]

When trying to download https://www.lynda.com/Software-Development-tutorials/Welcome/513586/581999-4.html

Python 3 on Arch Linux.

[2018-03-19 04:09] andreas2634 opened #8 "error while downloading"
Error while downloading and stop

Traceback (most recent call last):
  File "C:\Users\ABC\AppData\Local\Programs\Python\Python36\scripts\lynda-dl-master\lynda-dl.py", line 433, in <module>
    main()
  File "C:\Users\ABC\AppData\Local\Programs\Python\Python36\scripts\lynda-dl-master\lynda-dl.py", line 405, in main
    lynda.InfoExtractor()
  File "C:\Users\ABC\AppData\Local\Programs\Python\Python3

[2018-03-27 08:37] Mozenrat commented on #8
Hi.
I got similar issue, it's wasn't happened with all course though. And was able to fix it by running cmd (via ConEmu) with Locale Emulator app in English (US) locale. I'm on Windows 10, my default locale isn't English.

Update:
this workaround could not always work, probably depends on Unicode character that script can't decode due to this bug.

[2018-03-27 08:46] Mozenrat opened #9 "error FileNotFoundError: [Errno 2] No such file or directory..."
Hi.
Getting following error while downloading some courses. Example: Silverlight 5 Essential Training, error happens during part 19th (though in the error line it's says 20 for some reason):
[code]

Update:  Another example: "AutoCAD 2019 Essential Training", error happens with the first video.

[2018-03-28 14:35] Mozenrat opened #10 "only .srt and exercise are downloaded for some courses"
Example: "Motion: Principles of Motion Graphics"
No video files, only .srt and exercise files are downloaded for it.

[2018-04-01 09:05] rackyman commented on #8
_It happens due to improper encoding._

_Replace **LINES 152 , 68**  i.e._ `with open(lecture_name, "w") as f:`
_**with**_ `with open(lecture_name, "w", encoding='utf8') as f:`

[2018-04-01 12:49] r0oth3x49 commented on #9
@Mozenrat i will check and fix ASAP. can you please provide course URL so that i can test it against that course.

[2018-04-01 12:50] r0oth3x49 commented on #10
@Mozenrat the reason may be lynda-dl don't download videos in m3u8 stream but a simple .mp4

[2018-04-01 12:51] r0oth3x49 commented on #8
@rackyman the above syntax will only work for python 3 and not for python 2. i will add a quick fix ASAP.

[2018-04-01 12:53] Mozenrat commented on #9
thank you!
Here are URLs:
https://www.lynda.com/Silverlight-tutorials/Silverlight-5-Essential-Training/87898-2.html
https://www.lynda.com/AutoCAD-tutorials/AutoCAD-2019-Essential-Training/656793-2.html

[2018-04-02 09:49] rocketman222 commented on #7
I have also encountered similar problem using the syntax for organization account download:
python lynda-dl.py -u user@domain.com -p p4ssw0rd https://www.lynda.com/COURSE_NAME/ID.html

output is
[code]

python version: 3.5

[2018-04-02 09:58] rocketman222 commented on #7
update: turns out this error appears only when using the URL of a subsection. Be sure to use the home URL of the tutorial

[2018-04-02 20:34] Mozenrat commented on #10
@r0oth3x49, I'm not sure was it related to video format m3u8 or a simple .mp4 when I was trying to download. But I just tried Free Video Download extension for Chrome and it's able to detect and save video as .mp4.  Tried lynda-dl once again, but this time it downloads nothing and just fails with following errors:

[code]
Course URL: https://www.lynda.com/Motion-tutorials/Welcome/75925/80448-4.htm

[2018-04-02 23:06] andreas2634 commented on #8
Thanks Nasir, you are great

On Sun, 1 Apr 2018 at 8:51 PM, Nasir Khan <notifications@github.com> wrote:

[2018-04-03 16:01] rinodung commented on #10
confirm this error: https://www.lynda.com/Drupal-tutorials/Managing-content-Drupal/73655/78769-4.html
I checked video with mp4 video

[2018-04-03 17:16] rackyman commented on #10
The JSONDecodeError happens when the link entered points to a specific video, and not the chapter.

https://www.lynda.com/Motion-tutorials/Welcome/75925/80448-4.html _is the link of the 1st Video_

Whereas,
https://www.lynda.com/Motion-4-tutorials/motion-creating-motion-graphics/75925-2.html _is the link of the course._
Lynda-DL only supports main course link.

[2018-04-03 17:33] r0oth3x49 commented on #10
@rackyman thanks for your support and explanation.
@Mozenrat, @rinodung  both of you should use the BASE_URL of course rather then giving link of the video.

[2018-04-04 03:02] rinodung commented on #10
@r0oth3x49 what is  BASE_URL meaning???
Example: https://www.lynda.com/Drupal-tutorials/Managing-content-Drupal/73655/78769-4.html
BASE_URL: ???

[2018-04-04 09:10] rackyman commented on #10
@rinodung BASE_URL is the main course url.

**For your example, this is the base/course url :** https://www.lynda.com/Drupal-7-tutorials/essential-training/73655-2.html

[2018-04-05 03:58] rinodung commented on #10
thank you so much, Bro!

[2018-04-05 13:12] satyasaadhak opened #12 "Connection Resets repeatedly"
This error show up after every few files downloaded. I've run the script ~20 times to complete the download. What's the problem? And is there a fix?

I'm running the command on Ubuntu 16.04 with python 2.7.

![lyndadl-issue](https://user-images.githubusercontent.com/16536094/38367619-d37ad086-3900-11e8-9b76-521cdbec9f89.png)

[2018-04-06 10:07] r0oth3x49 commented on #12
@itsdpm i will check & fix ASAP. please past the course URL as well.

[2018-04-08 09:20] #10 closed, assigned to nobody

[2018-04-08 12:27] Drshu opened #13 "Can't download entire course"
Hi,
  I tried to download a course [SketchUp: Rendering with V-Ray 3](https://www.lynda.com/SketchUp-tutorials/Software-versions-used-course/599605/662440-4.html), but I just got a part of class.
  Although I got entire chapter list (Had 11 chapter), but some chapters is empty and other chapters only downloaded one video and the subscribe .

This is part of log
[code]

  I can't solve this problem

[2018-04-19 21:08] husam-tariq opened #14 "https://www.lynda.com/Python-tutorials/Introduction-machine-learning/520233/601959-4.html error"
https://www.lynda.com/Python-tutorials/Introduction-machine-learning/520233/601959-4.html error

[*] : Logged in successfully.
[*] : Downloading course information webpages ..
Traceback (most recent call last):
  File "/Users/apple/gitapps/lynda-dl/lynda-dl.py", line 433, in <module>
    main()
  File "/Users/apple/gitapps/lynda-dl/lynda-dl.py", line 405, in main
    lynda.InfoExtractor()
  File "

[2018-04-20 05:16] r0oth3x49 commented on #14
@cooldragon1 you should check this [comment](https://github.com/r0oth3x49/lynda-dl/issues/10#issuecomment-378533679).

[2018-04-20 05:16] #14 closed, assigned to nobody

[2018-04-20 05:18] r0oth3x49 commented on #13
@Drshu seems strange i will check & try to reproduce.

**Update**
i just checked it is working fine for me i can see all the lectures in chapter 9.

[2018-04-20 05:19] #12 closed, assigned to nobody

[2018-04-21 15:17] faisalahammad opened #15 "Course doesn't download"
Hi,
I tried to download but it's doesn't work. Here is my Org ID, Pass and Org Name.

`python lynda-dl.py -u 947*** -p 1*** -o ottawa.ca https://www.lynda.com/Web-Development-tutorials/Up-Running-Markdown/438888-2.html`

It's showing me this error http://prntscr.com/j897ma and I'm using Mac and I've installed Python, Pip and brew.

Thanks

[2018-04-22 07:25] r0oth3x49 commented on #15
@faisalahammad brother you should install the requirements 1st.
sudo pip install -r requirements.txt

[2018-04-22 07:26] #15 closed, assigned to nobody

[2018-04-22 07:44] r0oth3x49 commented on #9
@Mozenrat try downloading course to any other drive. -o "E:\lynda"

[2018-04-22 07:44] #9 closed, assigned to nobody

[2018-04-22 07:45] #13 closed, assigned to nobody

[2018-04-24 23:19] scarnago opened #16 "Char error"
I was trying to download this course "https://www.lynda.com/Illustrator-tutorials/Illustrator-CC-2018-One-One-Fundamentals/633853-2.html" and i got this error

Traceback (most recent call last):
  File "lynda-dl.py", line 433, in <module>
    main()
  File "lynda-dl.py", line 394, in main
    lynda.InfoExtractor(outto=save_to)
  File "lynda-dl.py", line 169, in InfoExtractor
    f.write(str(_data)

[2018-04-25 03:32] Drshu commented on #16
I have the same problem. I try to Download course [Deke's Techniques](https://www.lynda.com/Photoshop-tutorials/Dekes-Techniques/76067-2.html) and I got an error as well

[code]

Maybe we shouldn't use `str` to encode.

[2018-05-14 09:32] Murtadhajfadhil opened #17 "[question] How to use organization url to login ?"
I have Lynda account using ottawa.ca Public Library, and I tried to use this URL to access the account but I failed: ottawa.ca

Thanks in advance

![screenshot_20180514122845](https://user-images.githubusercontent.com/24244733/39989496-c94e8090-5772-11e8-9084-b7c4094c5c25.png)

[2018-05-14 11:46] Murtadhajfadhil commented on #17
@r0oth3x49

[2018-05-14 11:47] Murtadhajfadhil commented on #17
@r0oth3x49 please can you look at that?

[2018-05-14 13:13] Murtadhajfadhil commented on #4
I'm facing the same problem with my organization account jeffcolibrary.org and ottawa.ca and I tried @harshes53 solution but I'm still facing the same problem, can you help me, please?
@harshes53 @r0oth3x49

[2018-05-17 02:30] harshes53 commented on #4
@Murtadhajfadhil edit this line, replace it with your organization  url. make sure `{organization}` is still there in URL.

[2018-05-17 06:58] Murtadhajfadhil commented on #4
@harshes53 Please can you show me how? This is my organization URL : https://ottawa.ca/en

[2018-05-19 01:54] harshes53 commented on #4
@Murtadhajfadhil how do you log to lynda.com? ....do you login from any page which is from `lynda.com`(official site)  ??

[2018-05-19 05:00] Murtadhajfadhil commented on #4
from here:
https://www.lynda.com/portal/sip?org=ottawa.ca
@harshes53

[2018-05-22 20:24] r0oth3x49 commented on #17
@Murtadhajfadhil i 'm really very sorry man, i was busy in some other projects i will take a look at this and will guide you ASAP.

[2018-05-22 20:26] r0oth3x49 commented on #16
@scarnago sorry for the very late response i will check this ASAP i was busy in some other projects.

[2018-05-23 09:50] Murtadhajfadhil commented on #17
@r0oth3x49
Thank you, bro

[2018-05-24 12:52] #8 closed, assigned to nobody

[2018-05-24 12:52] #16 closed, assigned to nobody

[2018-05-24 12:52] #17 closed, assigned to nobody

[2018-05-24 14:36] tofanelli opened #18 "Duplicate S on protocol"
Hey man... how's going? Hope fine

I tried to download a course today using Freelibrary card now, and got this error

[*] : Extracting course information..
[*] : Downloading 'Learning Redis'
[*] : Trying to login as organization : (freelibrary.org)...
Traceback (most recent call last):
  File "lynda-dl.py", line 444, in <module>
    main()
  File "lynda-dl.py", line 416, in main lynda.InfoExtracto

[2018-05-24 15:16] r0oth3x49 commented on #18
@tofanelli check now if it works for you and let me know if you still face any problem

[2018-05-24 15:24] #18 closed, assigned to nobody

[2018-05-24 15:48] Murtadhajfadhil commented on #17
@r0oth3x49
now I'm getting this error

[*] : Downloading webpage..
[*] : Extracting course information..
[*] : Downloading 'Illustrator CC 2018 One One Advanced'
[*] : Trying to login as organization : (jeffcolibrary.org)...
Traceback (most recent call last):
  File "lynda-dl.py", line 444, in <module>
    main()
  File "lynda-dl.py", line 416, in main
    lynda.InfoExtractor()
  File "lynda-dl.py

[2018-05-24 15:56] tofanelli commented on #18
Perfect!! =)

thanks =)

[2018-05-24 19:33] r0oth3x49 commented on #17
@Murtadhajfadhil are you still facing this error if yes then i might need your credentials to test & fix because i have tested against mine one it works fine for me. you can [email me](mailto:nasir251292@gmail.com) .

[2018-05-24 19:58] Murtadhajfadhil commented on #17
@r0oth3x49 just sent you my credentials, thank you

[2018-05-24 21:32] r0oth3x49 commented on #17
@Murtadhajfadhil its working fine you are using wrong URL use the absolute URL the course you are trying to download is (`https://www.lynda.com/Sass-tutorials/Sass-Essential-Training/375925-2.html`) instead this one (`https://www.lynda.com/Sass-tutorials/Welcome/375925/435554-4.html`).

take a look at screen shot below i have tried to download that course with your credentials and it works fine.
!

[2018-05-25 08:23] Murtadhajfadhil commented on #17
@r0oth3x49
Thank you so much for your effort I really appreciate what are you doing.
But I'm still can't download anything even when I copy and paste your instructions!
I just cloned the latest master of lynda-dl

I sent you an email with more details ..

[2018-05-25 10:11] r0oth3x49 commented on #17
@Murtadhajfadhil okay try one more time.

- delete lynda-dl completely from your PC.
- then download this [master](https://github.com/r0oth3x49/lynda-dl/archive/master.zip)
- extract to the desktop
- open bash shell as you have opened earlier.
- run the same command i sent to you in terminal.
- check if it works.
**because i have tested with python3 python2, win8.1, win7 both working fine for me.*

[2018-05-25 10:51] Murtadhajfadhil commented on #17
@r0oth3x49
I tried on another computer with win 10 and it worked, but it did not work on my computer with win 7 ultimate with the same procedure (the udemy-dl work efficiently on the same computer)

[2018-05-25 13:59] Mozenrat opened #19 "File "lynda-dl.py", line 8, in <module>"
Hi,
Downloaded new version of lynda-dl, and can't download any course:
$ python lynda-dl.py -u xxxxxx -p xxxxx -o xxxx.org https://www.lynda.com/FileMaker-Pro-tutorials/Learning-FileMaker/681078-2.html
Traceback (most recent call last):
  File "lynda-dl.py", line 8, in <module>
    import lynda
  File "/mnt/c/Users/uzver/lynda-dl/lynda/__init__.py", line 5, in <module>
    from ._extractor import

[2018-05-25 20:32] r0oth3x49 commented on #19
@Mozenrat you need to install `unidecode`, `six` i will update the requirements soon.

- pip install unidecode
- pip install six

[2018-05-26 07:25] kumaranjeya opened #20 "Error"
I can download all but keep getting the same error for this particular course, https://www.lynda.com/Unreal-Engine-tutorials/Unreal-Lighting/456827-2.html
The error is as follow:
[*] : Extracting (18/18) |========================================| 100.00%
[*] : Downloaded course information webpages successfully..
[*] : Trying to logout now...
[*] : Logged out successfully.
[*] : Counting no of cha

[2018-05-27 04:22] Mozenrat commented on #19
Thank you! It's working now.

[2018-05-27 04:22] #19 closed, assigned to nobody

[2018-05-27 06:12] #20 closed, assigned to nobody

[2018-05-28 12:22] kumaranjeya opened #21 "Error again..."
Hi,
Thank you for the quick fix and support. But still similar error as follows:
[*] : Downloading course information webpages ..
[*] : Found (18) lectures
[*] : Extracting (18/18) |========================================| 100.00%
[*] : Downloaded course information webpages successfully..
[*] : Trying to logout now...
[*] : Logged out successfully.
[*] : Counting no of chapters..
[+] : Found ('5

[2018-05-28 15:26] Drshu opened #22 "Still have UnicodeEncodeError"
Hi,
  I tried to use the latest lynda-dl and downloaded a course, but still have UnicodeEncodeError.
[code]

[2018-05-28 19:53] r0oth3x49 commented on #21
@kumaranjeya course URL is required

[2018-05-28 19:56] r0oth3x49 commented on #22
@Drshu course URL required

[2018-05-29 01:30] Drshu commented on #22
https://www.lynda.com/Final-Cut-Pro-tutorials/Final-Cut-Pro-X-Weekly/569339-2.html?org=lapl.org

This course cannot worked.I tried again and got a different error:

[code]

[2018-05-29 01:47] tofanelli opened #23 "Feature to be added"
Hey man

I was wondering if you can add a feature on this tool... let us create a text file and the program fetch from this file all links I want to batch download... one link per line, would be wonderful...

what you think? =)

[2018-05-29 02:17] tofanelli commented on #22
Here is downloading ok this course... have you tried to remove from ? and after? and how is the command you are using? Something lik

python lynda-dl.py -u #cardLibraryNumer -p #passwordToAccount -o organization LINK

working flawlessly here =)

[2018-05-29 02:18] tofanelli commented on #21
did you updated your script version?

[2018-05-29 02:42] kumaranjeya commented on #21
Hi, Thank you for the quick update. Yes. I already updated the script but still having similar error as #20. But, please notice the difference as follows:

[*] : Lecture : '001 Welcome' (download skipped).
[-] : ZeroDivisionError : it seems, lecture has malfunction or is zero byte(s) ..

and

[*] : Downloading lecture : (1 of 10)
[*] : Downloading (001 Direct lighting overview)
Traceback (most rec

[2018-05-29 02:55] Drshu commented on #22
@tofanelli I tied it again, and this is my command
`python lynda-dl.py -u ECARD00***** -p **** -o lapl.org https://www.lynda.com/Final-Cut-Pro-tutorials/Final-Cut-Pro-X-10-3-Essential-Training/530433-2.html`

I still got error at same place, but this time the character couldn't encode is \u2019(aka right quote characters)
[code]

[2018-05-29 03:04] tofanelli commented on #22
I just downloaded this whole course with no errors...

just two silly questions

1- do you have enough space to download them? Yes, is silly but...
2- are you using Windows? If yes, please, take a look on your folder path.. Windows only can deal up to 260 chars to folders names on path. So, if you saving your files on something like

`c:\users\I have a very long user name\desktop\tools\downloaders

[2018-05-29 03:19] Drshu commented on #22
@tofanelli Thanks for your help, but I have enough space and I am using Ubuntu. This is the path `/home/ubuntu/lynda-dl`

And I tried to  run  this command on a CentOS device, got a same error in same place. That's so weird.

[2018-05-29 04:35] tofanelli commented on #22
this seems to be an OS related issue... on Windows I could download this whole course with no problems at all =\

Sorry but only r0ox will be able to help out now =\

[2018-05-29 10:22] r0oth3x49 commented on #23
@tofanelli great suggestion, will add once i get free time

[2018-05-29 10:25] r0oth3x49 commented on #21
@kumaranjeya will try to reproduce and fix ASAP with the above course. @tofanelli thanks for your support man

[2018-05-29 10:29] r0oth3x49 commented on #22
@tofanelli thank you for your support :blush: . @Drshu i will test the above course on ubuntu, will try to reproduce and fix ASAP. BTW its weird to see that its working fine for @tofanelli and not for you. any way i will check

[2018-05-29 14:17] tofanelli commented on #23
Superb! Take your time!!

[2018-05-29 15:52] tofanelli commented on #21
Tried to download this same course and got an error too

Using Windows 8.1 x64

[2018-05-30 19:58] tofanelli commented on #21
Same error but in another course
https://www.lynda.com/IT-Infrastructure-tutorials/Docker-automation/616725/675635-4.html

[2018-06-01 19:53] xiSlickix opened #24 "Feature Request - Title Organization Structure Script"
Great work on this, looks super promising! I unfortunately can't use your script because I have an organization log in that requires me to use a cookies workaround (in youtube-dl). Is there any chance you could fork the section of code that you wrote to parse the video files names from the website and rename / organize the videos into folders? I ask because youtube-dl spits out filenames in a form

[2018-06-01 22:22] tofanelli commented on #24
But you have the " - o " flag exactly for this purpose.... and using youtube-dl, as long is extremely verbose to get things done  there, you may be selecting the wrong options... I've been using to download from some other places and the name structure is perfect...

The best part using this tool and Udemy-dl, both of @r0oth3x49 is way less verbose than youtube-dl... I can write down here the comm

[2018-06-01 23:32] xiSlickix commented on #24
I agree that this is less verbose to some degree. My organization uses a SSO authentication and my attempts to use the -o flag have not worked thus far, but passing cookie data to youtube-dl did work. A cookie auth option would be helpful as well in the script.

[2018-06-02 01:33] r0oth3x49 commented on #24
@xiSlickix i 'm currently working on new release i can add cookies based auth in the next version but for that i might need your account if you are okay with that you can [email me](mailto:nasir251292@gmail.com).

[2018-06-02 07:02] tofanelli opened #25 "Numbers on lectures"
Hey @r0oth3x49 ...

quick quesiton.... i just noticed that lynda-dl resets the lectures numeration on each folder... is there a setting to stop this? I'd rather to let the lectures having a sequentially numeration

cheers =)

[2018-06-02 08:56] r0oth3x49 commented on #25
@tofanelli can you please explain a bit more, if you provide an example if would be great to understand whats going on?

[2018-06-02 16:12] tofanelli commented on #25
Sure. I will show you using images, would be way easier. Take a look in this image

![image](https://user-images.githubusercontent.com/5512922/40878351-445749fa-6666-11e8-858e-1ecda2fb1ac9.png)

What would be the number of next lecture on the sequential folder? Probably you said 004... right?
![image](https://user-images.githubusercontent.com/5512922/40878365-7a342f0c-6666-11e8-9199-54379c926930.p

[2018-06-02 22:30] tofanelli commented on #21
Again with another link

https://www.lynda.com/Scala-tutorials/Consuming-RESTful-web-APIs-from-browser-command-line/521233/529235-4.html

[2018-06-03 08:11] #21 closed, assigned to nobody

[2018-06-03 08:15] r0oth3x49 commented on #25
@tofanelli i will take care of these extra numbering in next version

[2018-06-04 00:15] tofanelli commented on #21
@r0oth3x49 ... updated the script here and tried to download this same Docker course from the link above and got this error

[code]

[2018-06-04 15:17] xiSlickix commented on #24
Hi r0oth3x49,

I appreciate your quick response to this request! I unfortunately cannot share those credentials as they are tied to other sensitive system (SSO for a college campus).

The following is pure conjecture - it would seem to me parsing a cookies.txt dump from anyone's credentials would supply you the necessary information to pass along for credential authentication, regardless of single

[2018-06-04 19:54] r0oth3x49 commented on #21
@tofanelli you are not using the absolute URL, i have sorted out this problem in the next version as well, it will be up within 2 or more days. for now here is a absolute course url for you.
`https://www.lynda.com/IT-Infrastructure-tutorials/DevOps-Foundations-DevSecOps/616725-2.html`

[2018-06-04 20:30] tofanelli opened #26 "Renamed 7z to MP4"
hey @r0oth3x49 ...

quick question...  I downloaded this course [here](https://www.lynda.com/Web-Development-tutorials/Building-Polling-App-Socket-IO-React-js/387145-2.html?) and the tool renamed the exercise file from 7z to 7z.MP4.... I really dunno why this happened, but you might want to take a quick look on it...

Cheers =)

[2018-06-04 21:39] r0oth3x49 commented on #24
@xiSlickix i didn't checked yet the cookies but suspect the same that cookies should be per account type. i will check with the one account i have

You can can email me cookies i will test with those cookies.

[2018-06-04 21:42] r0oth3x49 commented on #26
@tofanelli the reason it appends .mp4 at the end is because of hard coded extension type check and not dynamic. this is also fixed in the next release.

[2018-06-05 00:57] tofanelli commented on #26
Ok.. superb then =)... waiting for it =)

[2018-06-05 00:58] tofanelli commented on #21
Did you tried with that Docker link?? Just in case...

[2018-06-05 11:20] r0oth3x49 commented on #21
@tofanelli you were facing `json.decoder.JSONDecodeError` in the above link you can take a look at the url you have selected, that url belongs to particular video instead a whole course that's why the `json.decoder.JSONDecodeError` comes because lynda-dl was unable to identify the actual course id.

and yes i have tested the Docker course link with the new one it works like charm take a look at be

[2018-06-05 12:44] #25 closed, assigned to nobody

[2018-06-05 12:44] #26 closed, assigned to nobody

[2018-06-05 12:44] #22 closed, assigned to nobody

[2018-06-05 12:55] r0oth3x49 commented on #23
@tofanelli now you can download courses from a text file.
Example.

`python lynda-dl.py -u user -p pass file_containing_courses.txt`

[2018-06-05 12:55] #23 closed, assigned to nobody

[2018-06-05 12:56] r0oth3x49 commented on #24
@xiSlickix i 'm closing the issue & will be checking your response on email.

[2018-06-05 12:56] #24 closed, assigned to nobody

[2018-06-05 14:23] tofanelli commented on #23
you're the real mvp =) ... superb =)

[2018-06-05 14:32] tofanelli opened #27 "New feature... maybe?"
hey man.... quick question...

i was wondering a new feature (maybe) to be added here and on udemy-dl too... whenever I download a course, create a text file with the link of the course.... for example... i'm downloading the course - python new generation - and the text file will be inside the folder of this course that I'm downloading.

Why? Because I like to add a description of the course to kn

[2018-06-05 14:43] tofanelli opened #28 "Error after new version"
Hey man...

I just updated to the latest version and getting this error

  File "lynda-dl.py", line 345, in <module>
    main()
  File "lynda-dl.py", line 341, in main
    lynda.course_download(path=options.output, quality=options.quality)
  File "lynda-dl.py", line 186, in course_download
    lecture_subtitles = lecture.subtitles
  File "F:\Udemy\Lynda\lynda\_shared.py", line 198, in subtitles

[2018-06-05 20:53] r0oth3x49 commented on #28
@tofanelli i will check and update ASAP.

[2018-06-05 20:54] r0oth3x49 commented on #27
@tofanelli will take a look at this. i will update the readme file.

[2018-06-05 21:15] tofanelli commented on #21
hhhhhhhhhmmmmmmmmmm... got... glad to know you sorted it out then.... superb man =)

[2018-06-06 11:55] #28 closed, assigned to nobody

[2018-06-06 12:30] kumaranjeya commented on #28
Hi, It's seems I still can't download the following with latest version:
https://www.lynda.com/Unreal-Engine-tutorials/Unreal-Lighting/456827-2.html

The error as follows:
[*] : Downloading course information .. -Traceback (most recent call last):
  File "lynda-dl.py", line 344, in <module>
    main()
  File "lynda-dl.py", line 340, in main
    lynda.course_download(path=options.output, quality=op

[2018-06-06 12:33] #27 closed, assigned to nobody

[2018-06-06 12:35] r0oth3x49 commented on #27
@tofanelli added this feature in lynda-dl. & also updated the readme file. thanks for the great suggestions.
POC.
![capture](https://user-images.githubusercontent.com/11024397/41038526-eac9d61c-69af-11e8-807e-ad0036d5791b.PNG)

[2018-06-06 12:40] r0oth3x49 commented on #28
@kumaranjeya i cannot reproduce. works fine for me
![capture](https://user-images.githubusercontent.com/11024397/41038722-9a196cf4-69b0-11e8-87cf-4367036d429a.PNG)

[2018-06-06 13:17] r0oth3x49 commented on #28
@kumaranjeya i have added a fix again clone again & then try to download

[2018-06-06 17:09] tofanelli commented on #27
you're amazing man!! keep it up with this amazing work =)

If you could add this same feature to udemy-dl would be amazing!!!

Cheers =)

PS: I just noticed that you done way better than expected!! really kudos =)

[2018-06-06 17:13] tofanelli commented on #25
Numbers still resetting

folder 01
![image](https://user-images.githubusercontent.com/5512922/41054042-a5774db8-6993-11e8-9e28-0896292cb8cf.png)

folder 02
![image](https://user-images.githubusercontent.com/5512922/41054078-c0b09706-6993-11e8-8cb1-acdbaca726a7.png)

Just to let you know.... =)

[2018-06-06 21:14] r0oth3x49 commented on #27
@tofanelli thanks bro for appreciation. i will add this feature on udemy-dl as well. thanks for the great suggestions which makes the tool more perfect.

[2018-06-06 22:33] tofanelli commented on #27
thank you for helping us everyday =)

[2018-06-07 04:32] kumaranjeya commented on #28
Hi, what can i say...it's superb. All working now. Thank you so much. Keep up the good work. Regards.

[2018-06-07 04:55] tofanelli commented on #27
@r0oth3x49 ... man... regarding this issue here.... I was wondering if there is a way to do the following....

Let's suppose you added 30 links in the text file to be downloaded. And after 10 (less or more) courses downloaded, you already moved the courses folders to another location. Right? (for the sake of organization).... but, in some point the internet disconnected or the computer crashed or

[2018-06-07 05:53] kumaranjeya commented on #28
Sorry if i'm writing in wrong area. Any chance of creating similar for Pluralsight download? Thank you for your consideration. Regards

[2018-06-07 07:17] tofanelli commented on #28
@kumaranjeya you can use youtube-dl... work smoothly =)

[2018-06-07 11:40] kumaranjeya commented on #28
Yes. I have tried works great but it doesn't download *.zip work files for that particular course only videos.

[2018-06-07 11:42] kumaranjeya opened #31 "Zip file download error"
I'm keep getting following error:
[*] : Downloading asset(s)
[*] : Downloading (Ex_Files_UaR_MayaLT_2016.zip)
[*] : Asset : 'Ex_Files_UaR_MayaLT_2016.zip' (download skipped).
[-] : URLError : either your internet connection is not working or server aborted the request

These are the courses that has the error:
https://www.lynda.com/Maya-tutorials/Up-Running-Maya-LT/408407-2.html
https://www.lynda.

[2018-06-07 13:43] tofanelli commented on #28
yeah.... unfortunately they need to be downloaded later on.... I haven't seen any option to download them together too =\

[2018-06-07 19:26] r0oth3x49 commented on #31
@kumaranjeya i will fix this ASAP.

[2018-06-08 10:32] r0oth3x49 commented on #27
@tofanelli i will take a look at this.

[2018-06-08 13:53] #31 closed, assigned to nobody

[2018-06-11 12:14] chenjau opened #32 "Error: MissingSchema"
courses example:
https://www.lynda.com/Office-2003-tutorials/outlook-2003-essential-training/88-2.html
https://www.lynda.com/Access-tutorials/Access-2003-Essential-Training/98-2.html

Error message:
Traceback (most recent call last):
  File "/Users/ME/Applications/scripts/lynda-dl/lynda-dl.py", line 349, in <module>
    main()
  File "/Users/ME/Applications/scripts/lynda-dl/lynda-dl.py", line 308,

[2018-06-11 12:52] #32 closed, assigned to nobody

[2018-06-12 01:42] chenjau opened #33 "Incorrect folder name(course title)"
os: macos 10.12.6
py: python 3.6
lynda-dl: master

course url: https://www.lynda.com/3ds-Max-tutorials/3ds-Max-2013-Essential-Training/95341-2.html
expect: 3ds Max 2013 Essential Training
result:  ds Max E3 Essential Training

course url: https://www.lynda.com/Architecture-tutorials/Michelle-Kaufmanns-Platinum-LEED-Home-Remodel-Start-Finish/95254-2.html
expect: Michelle Kaufmanns Platinum LEED Hom

[2018-06-12 07:52] r0oth3x49 commented on #33
@chenjau thanks for the report but this is actually a default behavior rather than an error. i 'm skipping the starting numbering and assigning my own lecture / chapter numbering. also skipping some disallowed characters although those are specific to windows but to keep the naming convention same for each platform i 'm skipping those characters.

[2018-06-12 07:52] #33 closed, assigned to nobody

[2018-06-14 05:45] tofanelli commented on #27
@r0oth3x49 ... man... i was wondering... is there a way to put the link inside the description file anyway?

[2018-06-15 05:35] queroin commented on #17
@r0oth3x49

I have errors too when accessing my organization,
![image](https://user-images.githubusercontent.com/31497266/41451428-73680e94-709f-11e8-9b6a-130f544336e9.png)

but I've also tried barely inputting my organization (cup.okta.com) to lynda and -
![image](https://user-images.githubusercontent.com/31497266/41451685-bf8ff11e-70a0-11e8-8953-61d2a7a8a495.png)

can you fix it? :hammer_and_wre

[2018-06-17 13:17] k0th31 opened #34 "Error "Failed to extract log-in form""
Dear Khan,

Your new v0.2 is having subjected error "Failed to extract login form". So, I am re-using old script which still works better.
I use Python 3.6.5. Version v0.1 (Jun 3) is okay.

[2018-06-17 17:41] tofanelli opened #35 "Error on naming courses"
hey man...

this is not quite an issue but, every time the scripts rips a course with "2018" (it can be any year, actually) the course name goes to  "E18" instead... take a look using this link
`https://www.lynda.com/Illustrator-tutorials/Illustrator-CC-2018-One-One-Fundamentals/633853-2.html`

Cheers =)

[2018-06-17 19:38] k0th31 commented on #35
Is this applicable in V0.2???

[2018-06-18 04:46] oyedeyeye commented on #34
I am having similar issues with the new version. I just installed everything afresh, including python 3. and the -r requirements.txt

[2018-06-18 04:53] tofanelli commented on #35
yup.... latest version...

[2018-06-18 09:56] k0th31 commented on #35
@tofanelli May I know how to use V0.2. I installed requirements.txt. PIP INSTALL -R REQUIREMENTS.TXT
But, it bounced with message "Failed to extract login-form".
I use Windows 7. Python 3.6.5.
Please help me.

[2018-06-18 12:17] #34 closed, assigned to nobody

[2018-06-18 12:19] r0oth3x49 commented on #35
@k0th31 i have added a fix for the error you were facing try to clone the recent master and then use if you still face any error let me know.

[2018-06-18 12:25] r0oth3x49 commented on #35
@tofanelli i will check & fix ASAP.

[2018-06-18 12:32] oyedeyeye commented on #34
It is now Working.... @r0oth3x49  Thank you

[2018-06-18 16:20] k0th31 opened #36 "Automatic Resume for timeout downloads"
Dear Khan,

One thing is suggested.
Some downloads are being halted, it may be timeout or network disconnection. For such cases, scripts shall try automatic after an extent of period.
Usually, we went to bed after clicking to run the script, expecting all downloaded in next morning.

[2018-06-19 11:06] r0oth3x49 commented on #36
@k0th31 will try to reproduce & fix ASAP.

[2018-06-22 10:23] chenjau commented on #36
And lots of connection errors during Downloading course information stage, please consider add auto-retry mechanism to that too.

[2018-06-23 08:29] #35 closed, assigned to nobody

[2018-06-24 20:38] tofanelli commented on #35
hey @r0oth3x49 ...

thanks for fixing this issue... but now, another one came up with this fix... check [this course](https://www.lynda.com/PHP-tutorials/Easy-PHP-Projects-Measurement-Conversion/418852-2.html) as an example. There is no need to rip the entire course, only the description...

Noticed that the first words are italic (em tag), the previous Lynda-dl version, wasn't parsing the code, s

[2018-06-26 05:08] tofanelli commented on #35
hey @r0oth3x49 ... still on naming, check [this one](https://www.lynda.com/Java-tutorials/3D-graphics-JavaFX/572154-2.html) when ripped... missing the 3 on 3D....

[2018-06-26 19:24] r0oth3x49 commented on #35
@tofanelli i will check both of the above on this weekend

[2018-06-26 22:39] tofanelli commented on #35
Superb @r0oth3x49 ... another thing i just noticed... check [this link](https://www.lynda.com/Android-Studio-tutorials/Android-Studio-Essential-Training/677172-2.html)... there is a question mark in the first paragraph... right? So, the scrapper removed it.... Hope this may lead you to solve =)

[2018-06-28 15:02] Bneboy opened #37 "Error downloading when courses have special characters?"
[code]

I got this crash on Windows 10 PC using Python 2.7.15
I tried DL'ing a course where in the description has special characters. It worked for me on other courses, others without these special characters. The only word with special characters seems to be "résumé", on the Lynda page for it.

[2018-06-30 12:29] r0oth3x49 commented on #37
@Bneboy course URL? btw i have recently pushed an updates to this repo where this issue is already fixed did you tried with latest `master`

[2018-06-30 16:46] subashz commented on #17
I have also csrf token extracting while trying to login with my londonmet.ac.uk organization.

[2018-07-01 15:42] sonbui00 opened #38 "Did not download subtitles"
I downloaded Learning Vue.js course from Lynda but I did not see any subtitles.\
This is the course's link:
https://www.lynda.com/JavaScript-tutorials/Learning-Vue-js/562924-2.html

[2018-07-01 18:09] sonbui00 commented on #38
I tried downloading with subtitles only in another directory, and it worked. But I still not understand why when I downloaded course I did not see any subtitles. Other courses are ok.

[2018-07-01 18:09] #38 closed, assigned to nobody

[2018-07-01 19:21] Bneboy commented on #37
https://www.lynda.com/CSS-tutorials/CSS-Essential-Training-1/569190-2.html is the URL.

[2018-07-03 01:33] oyedeyeye commented on #36
*] : 28.49MB/20.17MB 70.80% |#####################---------| 180.25kB/s eta 00:47sTraceback (most recent call last):
  File "lynda-dl.py", line 349, in <module>
    main()
  File "lynda-dl.py", line 345, in main
    lynda.course_download(path=options.output, quality=options.quality)
  File "lynda-dl.py", line 198, in course_download
    self.download_lectures_and_captions(lecture_best=lecture_best

[2018-07-20 14:50] ScorpionIbm opened #39 "Supporting LinkedIn Learning"
Can I use this to download videos from LinkedIn Learning instead of Lynda?
As I don't have an account on Lynda and can't link my LinkedIn account to Lynda

[2018-07-20 15:28] r0oth3x49 commented on #39
@ScorpionIbm can you please explain a bit more. it will be great if you can share some examples & screenshots in your explanation then i will guide you.

[2018-07-20 19:17] ScorpionIbm commented on #39
LinkedIn learning [https://www.linkedin.com/learning/](https://www.linkedin.com/learning/) is a rebrand of Lynda that has the same courses but your script refuses to use my login credentials ... The script says Lynda doesn't recognize login.

[2018-07-20 19:24] ScorpionIbm commented on #39
Also linkedIn Learning has an API [here](https://docs.microsoft.com/en-us/linkedin/learning/overview/) If this would make it easier for supporting downloads from it

You can have a look at this project if it would help [https://github.com/mclmza/linkedin-learning-downloader](https://github.com/mclmza/linkedin-learning-downloader)

[2018-07-21 11:13] r0oth3x49 commented on #39
@ScorpionIbm i can add support for this. but you can still download the same course with *lynda-dl* what you need to do is to google the course name followed by Lynda. Google will show you the url supported by this repository and then you can download that using your credentials. but i will take a look at this. for this i might need your credentials if you are okay with sharing then you can [email

[2018-07-21 11:40] ScorpionIbm commented on #39
Sadly my credentials aren't accepted on Lynda as they only work for LinkedIn learning (Lynda.com doesn't recognize my login credentials).

Secondly, I can't send my linkedIn credentials because they give access to the whole LinkedIn profile and payment info not just LinkedIn learning, but you can make an account with a month of free trial [here](https://www.linkedin.com/learning/).
Also I can help

[2018-07-21 11:45] ScorpionIbm commented on #39
![lynda](https://user-images.githubusercontent.com/8678254/43035226-4f083b46-8cec-11e8-8328-ca02b62d6efb.PNG)
This is what the script shows when I try to login with my credentials on LinkedIn Learning

[2018-07-21 11:57] #37 closed, assigned to nobody

[2018-07-21 12:03] r0oth3x49 commented on #39
@ScorpionIbm okay i understand and respect your privacy. If you can't then the other solution could be using cookie based authentication. or i will check with some free contents & can you share the course url you are trying to download?

[2018-07-21 12:14] r0oth3x49 commented on #36
@oyedeyeye you should upgrade your packages such as. requests and requests[security]

[2018-07-21 12:16] ScorpionIbm commented on #39
It's a complete learning Path [here](https://www.lynda.com/learning-paths/Design/become-a-digital-illustrator) If the script doesn't work with that then the individual course links in there should work

[2018-07-22 15:22] abdullahicyc opened #40 "ValueError: binary mode doesn't take an encoding argument"
I'm using Python 3.6.4 on Windows Machine. I got this error after the download started.
### Traceback (most recent call last):

    main()

    lynda.course_download(path=options.output, quality=options.quality)

    course.course_description(filepath=course_path)
  File "D:\lynda-dl\lynda\_shared.py", line 145, in course_description
    return self._write_to_file(data, description_path)
  File "D

[2018-07-25 03:08] ghost commented on #40
Works Like Charm...

[2018-07-25 23:34] RobertHosking opened #41 "Connection error : make sure your internet connection is working."
I'm running this on a remote Ubuntu server

The command:
`$ python lynda-dl.py -o myuniversity.edu -u myusername -p thepassword https://www.lynda.com/Writing-tutorials/Writing-Compelling-Blog-Post/642461-2.html`

The output:
`[*] : Trying to login as organization (myuniversity.edu)...`
`[-] : Connection error : make sure your internet connection is working.`

The interenet is obviously working sin

[2018-07-26 16:54] r0oth3x49 commented on #41
@RobertHosking can you please explain a bit more like which ubuntu server it is? python version etc?

- have you updated all the requirements.txt. if not then upgrade to latest one.
- try upgrading `requests[security]` & then try to download.

[2018-07-26 20:03] RobertHosking commented on #41
Thanks for the quick response! My organization access is being revoked soon (graduated) and I'm trying to milk it while I can!

- Ubuntu 16.04 on Digital Ocean
- Python 2.7.12
- pip version 18.0

After
`sudo pip install --upgrade --force-reinstall -r requirements.txt`
I run the same command in my OP and get the same error:
`[-] : Connection error : make sure your internet connection is working.`

[2018-07-27 19:06] r0oth3x49 commented on #41
@RobertHosking i will try to reproduce and fix ASAP.

[2018-07-27 19:09] #40 closed, assigned to nobody

[2018-07-27 19:11] r0oth3x49 commented on #36
@k0th31 i 'm closing this and will try to add this feature in future updates.

[2018-07-27 19:11] #36 closed, assigned to nobody

[2018-08-13 01:30] TheOtherKraits opened #42 "Failed to extract csrftoken"
I'm trying to use lynda-dl with my university login but I am getting the error:
` Failed to extract csrftoken.`
after I input my username and password

My input was:
`python lynda-dl.py -o insertuniversityhere.edu  https://www.lynda.com/Python-tutorials/Learning-Python/661773-2.html`

I'm running on Windows 10 64-bit with Python 3.6

[2018-08-13 11:36] r0oth3x49 commented on #42
@TheOtherKraits  works fine for me i cannot reproduce.

![capture](https://user-images.githubusercontent.com/11024397/44029511-0405985e-9f17-11e8-965b-68ed846ce682.PNG)

can you try the below command.
[code]

[2018-08-13 12:36] TheOtherKraits commented on #42
@r0oth3x49 I just tried it and got the same error. Can I email you my organization? I believe the issue is with how my organization's login works. I get the error when I try it with an incorrect login as well as the correct one.

[2018-08-14 09:51] anandchavan opened #43 "Failed to login with SSO credentials"
In my organisation we get the lynda subscription by logging in to lynda with sso login credentials, in this case I am unable to download

**Steps to reproduce -**

[code]

**Expected -** Login and Download to start

**Actual -**

[code]

[2018-08-14 11:16] r0oth3x49 commented on #42
@TheOtherKraits yes you can [email me](mailto:nasir251292@gmail.com). i will test and try to fix the issue ASAP.

[2018-08-14 11:17] r0oth3x49 commented on #43
@anandchavan i might need your account to add support for SSO based accounts. you can [email me](mailto:nasir251292@gmail.com)

[2018-08-14 11:33] anandchavan commented on #43
@r0oth3x49
Sharing account will be against policy.

However, I feel that the cookie support like which youhave given for udemy will help.

I may help you to test with the test branch once you start the implementation

[2018-08-14 14:06] TheOtherKraits commented on #42
@r0oth3x49 Thanks! email sent.

[2018-08-16 11:39] r0oth3x49 commented on #43
@anandchavan sounds great, then i 'm closing this issue with enhancement and when i get some time i will implement.

[2018-08-16 11:39] #43 closed, assigned to nobody

[2018-08-16 11:40] #42 closed, assigned to nobody

[2018-08-29 09:49] martijnkruiten commented on #42
The same happens with an organization I am using. I've just emailed you which organization I'm talking about.

[2018-09-01 02:46] horaceli91 opened #44 "Supporting with Cookie login"
I am a student and I use my school organization portal to sign in.
So I don't have any account name and password. I just type my school URL in Lynda organization portal, and it will jump to my school page. I thought is that any possibility to use the Cookie file to log in?
Stephen-X's code allows the user to use Cookie to log in, if you don't mind, you can check this link:
https://github.com/Steph

[2018-09-01 09:14] r0oth3x49 commented on #44
@horaceli91 i will consider this as future enhancement.

[2018-09-07 02:41] thaihbn opened #45 "Some links - i can not download it"
[*] : Downloading course information .. \Traceback (most recent call last):
  File "lynda-dl.py", line 349, in <module>
    main()
  File "lynda-dl.py", line 345, in main
    lynda.course_download(path=options.output, quality=options.quality)
  File "lynda-dl.py", line 155, in course_download
    course = lynda.course(url=self.url, username=self.username, password=self.password, organization=self.

[2018-09-07 10:42] r0oth3x49 commented on #45
@thaihbn 'll try to reproduce and fix ASAP

[2018-09-26 14:57] ghanem82 commented on #44
hello
the code does not support library accounts (organization) anymore !

[2018-10-18 07:24] sucrose commented on #44
I tried implementing it, but I'm new to Python and was just hitting walls. Hoping we can get this feature!

[2018-10-26 09:07] TheMedOne commented on #41
@RobertHosking I had the same issue while downloading the course , to fix id i had to upgrade to python3 , hope that is working for you

[2018-10-27 10:34] hyber-code opened #46 "unable to download"
[code]

link i am using
https://www.lynda.com/InDesign-tutorials/Designing-Resume-Creatives/628694-2.html

[2018-11-04 09:48] r0oth3x49 commented on #46
@hyber-code i cannot reproduce, Must be some issue with your organization login method. if you want me to test against your credentials then [email me](mailto:nasir251292@gmail.com)..

POC.
![capture](https://user-images.githubusercontent.com/11024397/47962061-89d49180-e038-11e8-99a6-aa62c8f216dc.PNG)

[2018-11-04 09:50] #46 closed, assigned to nobody

[2018-11-04 09:53] #39 closed, assigned to nobody

[2018-11-04 09:55] r0oth3x49 commented on #44
@ghanem82 it does.
POC.
![capture](https://user-images.githubusercontent.com/11024397/47962104-3282f100-e039-11e8-811e-1622f38567e6.PNG)

[2018-11-04 12:12] #41 closed, assigned to nobody

[2018-11-04 12:14] #44 closed, assigned to nobody

[2018-11-04 12:14] #45 closed, assigned to nobody

[2018-11-06 15:55] qqfreshman opened #47 "Subtitle file name is not the same as the video name"
@r0oth3x49 I'm using the latest v0.3 and find the subtitle file name is not the same as the video name. So the subtitle can't load automatically when I watch the video. Is it possible to fix it in the next version?
By the way, I'm using CentOS 6 with Python 2.7+Pip 9.0
![subtitle and video name are not the same](https://user-images.githubusercontent.com/31643883/48075625-a4685f80-e21e-11e8-9958-41

[2018-11-08 07:24] r0oth3x49 commented on #47
@jw587 if a use the same name as video, then at the end you will only be having the subtitle which is downloaded at the end.

let say, a video have multiple subtitles (English, Spanish etc)
if i don't use the suffix for one at the end the you will only have the one subtitle file downloaded at end.

so technically this isn't a bug or an error but a solution for multi captions.

[2018-11-08 07:24] #47 closed, assigned to nobody

[2018-11-08 08:03] qqfreshman commented on #47
@r0oth3x49 Got it. Thanks. I'll try to find some solution from the video player side to load the EN subtitle automatically.

[2018-11-08 12:50] foo25amc commented on #46
I'm receiving the same error whilst trying to use my organisational login. Cookie based login is also not working, and returns -

`Cookies error, Request Headers is required.`

I've tried using the Developer Tools method of extracting the headers and the cookies.txt Chrome extension method.

[2018-11-13 18:00] jaan143 opened #48 "login error"
hello i am getting this error (Failed to extract login form)

[2018-11-16 03:51] leninkumark commented on #48
Me too :-(

[2018-11-16 16:49] jaan143 commented on #48
@r0oth3x49  bro how can i give you detail ?
i dont understand but actually lynda is updated so thats the reason this script is not working
it was working fine 4 days ago

[2018-11-16 17:45] r0oth3x49 commented on #48
@jaan143 you can [email me](mailto:nasir251292@gmail.com). for me it still works

[2018-11-17 19:06] bluekar commented on #48
yeah me too, and I tried another PC and Mac are same

[2018-11-18 11:12] #48 closed, assigned to nobody

[2018-11-19 13:28] Markandayan1518 opened #49 "Feature to be added for Proxy Configuration"

[2018-11-22 07:51] r0oth3x49 commented on #49
@Markandayan1518 i will wait for others to endorse. by the way why you want the proxy can you please explain?

[2018-11-23 19:53] jawidjrs opened #50 "Skip Excercise Files From Downloading"
Hi, Thank you for this great program.
I would like to know if there is a function or ability to skip or choose between hi resolution or low resolution exercise files to be downloaded during the process.
Below is a link to a course in Lynda.com only for example and test:
https://www.lynda.com/Photoshop-tutorials/Photoshop-Retouching-Techniques-Faces/141134-2.html

[2018-11-23 21:16] r0oth3x49 commented on #50
@jawidjrs there is a option which you can use to download the requested resolution. use `-q or --quality` switch.

can you please explain this a bit more.

[2018-11-24 18:41] jawidjrs commented on #50
Thank you for your response.
I would like to know if there is an option for example to skip or prevent exercise files to be downloaded alongside the course videos.
Some courses provide two zip files as exercise files especially in the design tutorial category. one with a larger size and the other one same content but with more compressed and smaller size. but I noticed that the lynda-dl will downl

[2018-11-25 08:40] r0oth3x49 commented on #50
no currently there is no such option which can be used to skip assets / exercise files. I will consider this as enhancement.

[2018-11-25 08:40] #50 closed, assigned to nobody

[2018-11-25 08:40] #49 closed, assigned to nobody

[2018-11-27 20:58] maciozo commented on #42
Apologies for reviving a closed issue, but I'm getting the same problem. Running Python 3.6.6 on MSYS2 on Windows 8.1. Using incorrect cridentials has the same result.

![image](https://user-images.githubusercontent.com/15807067/49110706-1a903d00-f286-11e8-9f40-3c200c70cce6.png)

Using cookies results in a login failure:

![image](https://user-images.githubusercontent.com/15807067/49111032-ea95698

[2018-11-28 13:36] jawidjrs opened #51 "how do I download more than one course(web links) at one session"
Hi there,
I wonder if it's possible to add more than one link of a course tutorial where the "COURSE_URL" should be inserted.
Thanks
Yours truly,
Jawid

[2018-11-28 14:30] r0oth3x49 commented on #51
@jawidjrs it is already there, if you would have checked the **Advance Usage**.

either you provide course url or a file containing list of course urls separated by new line.
let say :-
course01_url
course02_url
and so on.

Lynda will download all those course listed in the text file.

**Edit**
Steps.
 - copy paste the course urls to text file separated by new line.
 - run the code
[code]

[2018-11-28 14:37] #51 closed, assigned to nobody

[2018-11-28 16:04] jawidjrs commented on #51
I'm sorry but there is no such file named course.txt

[2018-11-29 10:37] Crumblegdl opened #52 "Cookies issue"
Hi There,

I am using latest version of master branch.

I have tried over and over to get cookies working.

I have tried exporting my cookies using cookies.txt and also the copy request headers method.

I navigate to lynda and login using organization portal. I go to a video and click play. I check my network tab in inspect element and filter by xhr.

I copy one using right click > copy request he

[2018-11-29 10:56] Crumblegdl commented on #52
After logging out and back into lynda and tracking my network requests, I was able to find one that let me login. however it immediately tells me

JSONDecodeError: it seems your cookies got expired, provide again.

Then of course following that network request down the line, and copying every single one that has a cookie in it yields the same results as before.

So it is my understanding they may

[2018-11-29 11:35] r0oth3x49 commented on #52
@Crumblegdl i cannot reproduce the error you are facing you might be mistaking at some point. can you please share your credentials and details (course url etc) on my [email](mailto:nasir251292@gmail.com) so that i can reproduce & fix ASAP.

BTW.
for me cookie based and simple organization login both working fine.

[2018-11-29 11:51] Crumblegdl commented on #52
i'm not sure where i can be mistaken, I followed your instructions and wrote them out here.

Is there anywhere in those steps i wrote where I am wrong?

using a cookie should just work if i am logged in, and I am.
sending email now.

[2018-11-29 12:04] jawidjrs opened #53 "How to resume a partially downloaded course"
Hi,
I have a course partially downloaded for an unknown error yesterday. because the files was big in size, Now I want to resume chapters but not entire course from the beginning.
I'd appreciated if you please guide me how to do this.
Thank you very much,
Jawidjrs

[2018-11-29 12:08] r0oth3x49 commented on #53
@jawidjrs run the code against that specific course it will start where it left automatically. by default it checks for the course in current directory if not available it starts from beginning if its there will resume where it left.

[2018-11-29 12:14] jawidjrs commented on #53
It is downloading from where it left.
Thank you very much for your quick response.
Jawidjrs

[2018-11-29 12:45] #53 closed, assigned to nobody

[2018-11-29 18:50] r0oth3x49 commented on #52
@Crumblegdl as you said in a email, you found another way so i 'm closing this issue

[2018-11-29 18:50] #52 closed, assigned to nobody

[2018-12-05 00:59] anandchavan opened #54 "Error while downloading using cookies"
`python lynda-dl.py -k cookie.txt https://www.lynda.com/Amazon-Web-Services-tutorials/Amazon-Web-Services-Design-Implement-Systems/624303-2.html -q 1080`

[code]

[2018-12-05 17:20] #54 closed, assigned to nobody

[2018-12-06 18:20] PalmCivetMenace commented on #52
I have the same problem as well here ...

[2018-12-06 23:10] Crumblegdl commented on #52
Check out Lynda-Decryptor, just use the desktop app to download the courses you want and then you can decrypt them to mp4 in seconds.

[2018-12-07 14:41] HeIp commented on #52
<img width="537" alt="image" src="https://user-images.githubusercontent.com/31706214/49653893-4210a380-fa04-11e8-8b77-1e4a5cee41c6.png">
same issue , same as everything @Crumblegdl  mentioned in original issue "Failed to extract csrftoken." , Unfortunately on Mac OS

[2018-12-19 01:17] AntiGov commented on #52
JSONDecodeError : it seems your cookies got expired, provide again.

[2018-12-19 01:45] AntiGov opened #55 "JSONDecodeError : it seems your cookies got expired, provide again."
JSONDecodeError : it seems your cookies got expired, provide again.
the error happened only if course flaged with icon locked which mean the authenticated user dont have access to the course

[2018-12-19 04:39] HeIp commented on #52
@r0oth3x49  Should re-open this issue.

[2018-12-23 14:36] Raamakrishnan commented on #55
Getting the same error. But I have access to the video normally in the browser. Any way I can help to find the issue? A log perhaps?

[2019-01-04 01:43] WaxKitten opened #56 "Empty description file of courses"
Downloaded text file of courses are empty. Is it just me?
Can you add those to text file if you're thinking of rebuild:

Description
/
DescriptionDescriptionDescriptionDescription
DescriptionDescriptionDescription
/

Author: xxxxx yyyyyyy
Released xx/xx/xxxx
Skill Level: Beginner/Appropriate for all/etc
Duration: 3h 18m

Topics include:
   •xxxxxxxxx
   •yyyyy
   •zzzzzzzzzzz
   •ffff
   •tttttttt

[2019-01-14 12:13] mikelee281756 opened #57 "How to resolve "JSONDecodeError : it seems your cookies got expired, provide again." ?"
Why occur the above error?How to solve?
My lynda-dl code is download through "Clone or download" button in the URL:https://github.com/r0oth3x49/lynda-dl
And the lynda-dl code is unzipped in the directory E:\tools\lynda-dl-master\lynda-dl-master on my win7 64 OS
Following is the run steps in cmd window on win7 64bit:
/////////////////////////////////////////////////////////////////////////
C:\Users

[2019-01-16 15:17] shumbashi commented on #57
Same issue here

[2019-01-18 10:03] r0oth3x49 commented on #57
@mikelee281756 , @shumbashi lets discuss this issue at #55. i 'm closing it from here

[2019-01-18 10:03] #57 closed, assigned to nobody

[2019-01-18 10:04] r0oth3x49 commented on #55
@AntiGov i will take a look at this issue and fix ASAP. sorry for late response.

[2019-01-18 10:04] r0oth3x49 commented on #56
@WaxKitten i will wait for others to endorse and then will check if there is any provision to implement.

[2019-02-03 17:54] Abhi904485 commented on #55
Actually lynda is upgraded to Linkedin Learning that why it is showing Cookie Expired any lynda dl is not working in new up-gradation because course url is changed .

[2019-02-04 15:12] ThetNaingTun2019 opened #58 "username and password should be option"
Some links in lynda is open to all without username and password.
In such case, your script is waiting to verify username and password, which is not required for open access link.
e.g https://www.lynda.com/Kotlin-tutorials/Anko-coroutines-Launch-basics/642478/710027-4.html

This course is open to all. But, your script cannot download if I cannot provide proper username and password for lynda.
Nowa

[2019-02-07 13:23] r0oth3x49 commented on #58
@ThetNaingTun2019 i will check the possibility and will implement.

[2019-02-07 13:23] #58 closed, assigned to nobody

[2019-02-07 13:23] #56 closed, assigned to nobody

[2019-02-07 13:43] WaxKitten commented on #56
Will it fix ? @r0oth3x49

[2019-02-08 14:08] r0oth3x49 commented on #56
@WaxKitten can you explain why you want to add all those things? it think long/short descriptions are good enough isn't?

[2019-02-08 23:14] riahc3 opened #59 "Any comeback for cbtnuggets-dl?"
Will cbtnuggets-dl be incorporated into one of these?

Thanks

[2019-02-11 18:26] jaan143 opened #60 "lynda login issue"
[*] : Trying to login as (1234@gmail.com)...
Traceback (most recent call last):
  File "lynda-dl.py", line 395, in <module>
    main()
  File "lynda-dl.py", line 389, in main
    lynda.course_download(skip_captions=options.skip_captions, path=options.output, quality=options.quality)
  File "lynda-dl.py", line 162, in course_download
    course = lynda.course(url=self.url, username=self.username, p

[2019-02-12 15:06] #59 closed, assigned to nobody

[2019-02-13 09:34] manu212 commented on #55
will this ever be fixed? is there an alternative downloader which can be used meanwhile?

[2019-02-13 10:56] Abhi904485 commented on #55
We need to change all urls in regular expression and some code refactoring after that it will work

[2019-02-18 04:46] biplobsd commented on #55
Fix this issue (ASAP). We need your tools. Your tools is great.

[2019-02-19 08:33] AntiGov commented on #55
this is not the case, the problem as i mention above the error accrued only when course flaged as locked, which mean you dont have access to it

[2019-02-21 21:11] fazee6 commented on #60
Account has been provided for the community. Thanks bro for all your efforts
support the developer those who can

[2019-02-25 16:53] manu212 commented on #55
in my case it happens with all videos

[2019-03-09 17:55] manu212 commented on #55
any update on this or useful workaraounds/alternatives?

[2019-03-17 21:41] WaxKitten commented on #55
2 different error :(

![4](https://user-images.githubusercontent.com/33392588/54490640-8693c100-48c8-11e9-89cf-c5e181d8f0d4.png)
&
![5](https://user-images.githubusercontent.com/33392588/54490641-872c5780-48c8-11e9-81c3-e9f0e7978297.png)

[2019-03-17 21:49] WaxKitten commented on #56
This txt problem solved by using linux.

[2019-03-20 05:34] hereisderek opened #61 "[feature request] read links from file"
thanks so much for this awesome tool!

I'm currently using a bash script for downloading multiple links, it works but I'm worried if I keep logging in and off lynda might find me specious and block my ip/account.

it'd be better if it can directly read links from a specified file, and perhaps share login session across downloads.

I've also noticed getting info can take some time, so potentially i

[2019-03-24 08:40] r0oth3x49 commented on #61
@hereisderek its already there you can either provide a link of course or a file containing links of courses separated by new line.

getting info takes time because there is no direct API call which gives all the info against a course that's why it parse one by one each lecture for info extracting.

if you can explain a bit more what you actually want me to implement that will be great.

[2019-03-25 18:15] nomanali1 commented on #55
I am getting this error ever since I download lynda-dl. I can't seems to resolve this issue. I have tried EditThisCookie, Export Cookies.txt extention for cookies. They don't seems to work. Also I tried copy request headers from inspect. That does't work also. Help me out here please.

![Annotation 2019-03-25 231223](https://user-images.githubusercontent.com/11135482/54943631-82fcdb80-4f53-11e9-8f

[2019-04-03 10:08] #61 closed, assigned to nobody

[2019-04-28 10:34] manu212 commented on #55
any update?

[2019-05-08 19:34] controversy187 commented on #55
I was running into this issue as well. Turns out that if a video doesn't have a valid subtitle file, Lynda returns invalid JSON which causes lynda-dl to fail. Try executing with the --skip-sub option. Also, I have a PR that fixed the issue (for me).

[2019-05-09 04:59] manu212 commented on #55
@controversy187 what does PR mean?

[2019-05-09 13:19] controversy187 commented on #55
Pull Request. I wrote a patch for this code and have requested that it be merged into the main project. In the meantime, have you tried downloading with the --skip-sub option? I didn't test that, but I think that would have fixed the issue (in my case), as I don't need the subs.

[2019-05-11 07:41] fmunirdev commented on #55
@controversy187 I tried with the `--skip-sub` option but didn't fixed the issue.

[2019-05-25 08:21] r0oth3x49 commented on #55
@AntiGov the error could be resolved by providing the new cookies, the session gets expired which leads to this error, so if you refresh your session in browser and provide the cookie again it will work fine.

[2019-05-25 08:23] r0oth3x49 commented on #60
@jaan143 the issue is fixed and working fine for me.
![Capture](https://user-images.githubusercontent.com/11024397/58366740-3badaf80-7ef0-11e9-90e1-aa2f40ba722e.PNG)

[2019-05-25 08:23] #60 closed, assigned to nobody

[2019-05-25 08:23] #55 closed, assigned to nobody

[2019-05-26 11:10] manu212 opened #64 "Error Downloading with cookies"
newest version. THe JSON decode error is gone, but now the following occurs:
(command: python lynda-dl.py -k cookie.txt COURSE_URL)
[*] : Downloading course information .. -Traceback (most recent call last):
  File "lynda-dl.py", line 395, in <module>
    main()
  File "lynda-dl.py", line 355, in main
    lynda.course_download(path=options.output, quality=options.quality)
  File "lynda-dl.py", lin

[2019-05-26 18:39] #64 closed, assigned to nobody

[2019-05-30 10:10] manu212 opened #66 "list download broken"
[+] : Logged in successfully.
Traceback (most recent call last):on ..
  File "lynda-dl.py", line 395, in <module>
    main()
  File "lynda-dl.py", line 301, in main
    lynda.course_download(path=options.output, quality=options.quality)
  File "lynda-dl.py", line 162, in course_download
    course = lynda.course(url=self.url, username=self.username, password=self.password, organization=self.organi

[2019-05-30 19:34] r0oth3x49 commented on #66
@manu212 list download is not broken, you might have done something wrong while providing list of urls. the error clearly says that your provided url is invalid or broken. its a human error. if you are trying to download multiple courses using file then you should create a text file containing list of course urls separated by new line.

Example.
course_01
course_02

[2019-05-30 19:37] #66 closed, assigned to nobody

[2019-05-30 19:46] controversy187 commented on #66
@manu212 Based on the error, it looks like you may have forgotten the "https://" from your URLs.

[2019-05-30 21:38] manu212 commented on #66
unfortunately not, i tried with one URL with https, without, etc. can you provide me an example file with three real existing URLs which i can access with lynda-dl?

Thanks a lot.

I followed your diskussion in the issues and README: URLs separeted by New lines in a text file. My URLs work as a single download parameter, but not in a text file list. So there is no typing mistake

[2019-05-31 10:00] r0oth3x49 commented on #66
[courses.txt](https://github.com/r0oth3x49/lynda-dl/files/3240780/courses.txt)
![Capture](https://user-images.githubusercontent.com/11024397/58698448-bc6b2080-83b4-11e9-8fa1-55ceadb90721.PNG)

[2019-06-01 10:15] manu212 commented on #66
i found the issue: the url-download works with: https://www.lynda.com/Developer-tutorials/Python-Projects/604246-2.html, but list download requires the full url like your example. nevertheless the list download works with organizational login only once. the second url gives a "JSONDecodeError : it seems your cookies got expired, provide again.". This is because of auto logging out through lynda-dl

[2019-06-01 20:40] r0oth3x49 commented on #66
no its not a bug, this tool don't support SSO based logins, so if your cookies got expired you have to provide again.

i have tested with the courses links, for me it works fine it does not matter if you provide all the junk in front of that course url the tool work just with the url looks like the above one.

[2019-06-01 21:24] manu212 commented on #66
@r0oth3x49  thanks for your imemdiate feedback. Since I have only a SSO based login, I didn't know that. Thanks for explaining this.

[2019-06-02 13:45] hong1999 opened #67 "@AntiGov the error could be resolved by providing the new cookies, the session gets expired which leads to this error, so if you refresh your session in browser and provide the cookie again it will work fine."
@AntiGov the error could be resolved by providing the new cookies, the session gets expired which leads to this error, so if you refresh your session in browser and provide the cookie again it will work fine.

_Originally posted by @r0oth3x49 in https://github.com/r0oth3x49/lynda-dl/issues/55#issuecomment-495885111_

[2019-06-02 13:49] hong1999 commented on #67
![image](https://user-images.githubusercontent.com/32258161/58762184-fdfbf700-857f-11e9-9d09-2219f2b45384.png)
I run into the same issue, had tried your solution but it appears again under the same link. When I first have this problem, I refresh my browser, then run a second time, the same link has the same problem again

[2019-06-03 04:49] hong1999 commented on #66
I'm using Library Account, facing the same "cookies" issue with you, do you have any solution?

[2019-06-03 07:22] 01ttouch commented on #67
You can download my fork here which already fixed the problem
https://github.com/01ttouch/lynda-dl/archive/bug-login-with-cookie.zip

[2019-06-03 11:33] hong1999 commented on #67
![image](https://user-images.githubusercontent.com/32258161/58798880-6f967c80-8636-11e9-9f71-32ba6f13c200.png)
Seem like the problem still there

[2019-06-03 11:42] hong1999 commented on #67
![image](https://user-images.githubusercontent.com/32258161/58799335-a620c700-8637-11e9-9c50-62494aa9936c.png)
When I first log in using my library, in the middle, this happened

[2019-06-03 12:28] 01ttouch commented on #67
It's been 5 hours since the last time i changed the cookie file and i still login and download fine.

Look like it's a problem on some specific courses. Can you provide the link you trying to download and got the error.

[2019-06-03 14:38] hong1999 commented on #67
After doing some debug, I found out that this link was causing the problem https://www.lynda.com/MicroStation-tutorials/Microstation-Reference-Files/624269-2.html

[2019-06-03 17:23] 01ttouch commented on #67
@hong1999
The course doesn't have subtitle and that's cause the problem.
You can clone here which fixed the problem: https://github.com/01ttouch/lynda-dl/archive/fixed.zip

[2019-06-04 02:57] hong1999 commented on #67
![image](https://user-images.githubusercontent.com/32258161/58848004-787b6280-86b7-11e9-94bd-f6d12fe4864f.png)
Problem Solved, no more cookies expired, thank you very much

[2019-06-04 10:51] #67 closed, assigned to nobody

[2019-06-25 06:56] biplobsd opened #70 "Output zip file."
Sir add this features.
Output as a zip file

[2019-06-28 19:22] r0oth3x49 commented on #70
if you can zip by yourself why you want to be so much lazy?

[2019-06-28 19:22] #70 closed, assigned to nobody

[2019-08-09 13:41] Abhi904485 commented on #39
hi @r0oth3x49  i am also having same problem now lynda courses are accessible through linkedin learning , i tried myself to make some change in script

you can check this thing with your credentails .

i tried the way you told to search in google , In 6 hrs of course only public lectures Downloaded , other lectures skipped .

[2019-09-03 13:20] lyndalopez544 opened #71 "Publish lynda-dl on pypi"

[2019-09-11 07:19] #71 closed, assigned to nobody

[2019-09-24 19:03] hong1999 opened #72 "Connection error : make sure your internet connection is working."
The command :
python lynda-dl.py -u  -p  -o url course.txt -d "Path"

The output:
[*] : Trying to login as organization (myuniversity.edu)...
[-] : Connection error : make sure your internet connection is working.

Windows 10 Pro
Python 3.7.4
pip 19.2.3
Update all package to the newest version

look like if you add to many url in the .txt file, it will come out this error

[2019-10-04 01:16] eyanq opened #73 "LinkedIn Learning Support"
Hi @r0oth3x49,

Do you have any plans to support LinkedIn Learning?

According to LinkedIn [here](https://www.linkedin.com/help/lynda/answer/90509/for-individual-subscribers-moving-from-lynda-com-to-linkedin-learning-faqs?lang=en),

Cheers.

[2019-10-05 16:41] #72 closed, assigned to nobody

[2019-10-05 16:44] r0oth3x49 commented on #73
@yan9yu it was requested before but i guess it requires some premium account to access courses and currently i haven't subscribed to any, so i might need a test account to check & implement

[2019-11-03 09:54] #73 closed, assigned to nobody

[2020-01-05 16:13] ghalebi1886 commented on #9
@r0oth3x49 I have the same issue, what should I do? I am on mac os

[2020-01-12 23:54] Medow commented on #56
How do you solve the description error?
i am using ubuntu and the description file is always empty when downloading courses.
Thanks.

[2020-01-29 04:29] hereisderek commented on #51
never knew you could do that, spent so much time wrapping it in a while loop
(with additional features such as tracking/moving successful downloads etc.)

[2020-02-15 18:09] avelytchko commented on #73
There is a free one-month trial account so you have enough time to check I think.

[2020-03-02 09:13] hereisderek opened #74 "installation error"
this is a noob question and probably been asked before (although I couldn't find any)

when trying to install lynda-dl, I'm getting the following error

the `old script wrapper` happens cuz I upgraded pip3 with sudo (which I probably shouldn't do), however the installation failed for the exactly same reason before I've done the upgrade

[code]

however if I do directly run it by `python3 ./lynda-d

[2020-03-21 19:47] ahmed-alii commented on #55
I'm logging in with organization portal. No cookies involved in it. Still getting this error.

[2020-03-22 10:28] r0oth3x49 commented on #55
@ahmed-alii can you please explain a bit more?

[2020-03-28 19:41] ghost opened #75 "AttributeError: "NoneType" Object Has no attribute 'group'"
![2020-03-29 01_10_41-Anaconda Prompt (anaconda3)](https://user-images.githubusercontent.com/29061574/77832200-36497300-715a-11ea-9db5-27b1d1f6744f.png)

[2020-03-29 03:20] amitfegade121 opened #76 "Is there any way to download course, if we have organization login i.e. by using library card and pin."
I am having organizational login where I enter library card and pin number.
Can we download courses by using it?

[2020-04-12 08:45] r0oth3x49 commented on #76
yes of course it can be use with origanization name, library card/pin number

[2020-04-12 08:45] #76 closed, assigned to nobody

[2020-04-22 06:42] hong1999 opened #77 "Connection error : make sure your internet connection is working"
Looks like this has some issue
Windows 10
Python 3.7.7
PIP  20.0.2
All package upgrade to newest version

In the middle
[+] : Found (49) courses ..
[*] : Trying to login as organization (-------)...
[-] : Connection error : make sure your internet connection is working.

I'm sure my internet is working as I'm running another edx downloader.

When I change to cookie download
[+] : Found (49) course

[2020-04-22 11:10] federa7675 commented on #77
+1

[2020-04-23 06:35] federa7675 commented on #77
It started workin again!

[2020-04-23 08:32] hong1999 commented on #77
yeah, it works now, maybe there is some issue with one or more of the pip package

[2020-04-24 19:15] r0oth3x49 commented on #77
so should we close the issue or what?

[2020-04-24 19:16] #75 closed, assigned to nobody

[2020-04-24 19:16] #74 closed, assigned to nobody

[2020-04-24 19:16] #77 closed, assigned to nobody

[2020-04-27 15:29] spinnaker1 opened #78 "IOError: [Errno 5] Input/output error"
Lynda-dl is giving me this error: `IOError: [Errno 5] Input/output error ` and stopped when downloading this course. Please see the command and response below:

`python lynda-dl.py -u XXXXXX -p XXXXX -d /media/lynda/ -q 540 https://www.lynda.com/Business-tutorials/Financial-Accounting-Part-2/713376-2.html`

[code]

[2020-04-27 15:41] spinnaker1 opened #79 "Feature request: Option to skip errors and continue download"
If you provide lynda-dl a list of urls of courses and a single course download gives an error, it stops downloading and doesn't continue with the remaining courses.

**Is it possible to add a flag to skip an error and continue downloading with the remaining courses? Or just skip the specific video in that course and continue with next video in same course? **

For example youtube-dl provides that

[2020-05-01 03:34] caveman-2020 opened #80 "How to create a new cookie inside the cookies.txt file"
On the comments it says that it can get expired and that we must create a new cookie file. Anybody knows how to do that?

Thanks!

[2020-06-04 09:15] cdslxc opened #81 "Stuck in progress"
![image](https://user-images.githubusercontent.com/8092790/83738435-8410b900-a67e-11ea-9167-4d1d9128f123.png)

This course has more than these.
Help.
https://www.linkedin.com/learning/learning-incopy/

[2020-06-07 06:33] codencoffe commented on #80
In FireFox:
1. login to your lynda account
2. visit the course website
3. right click and choose "Inspect element" ( a small window will open at bottom or side showing html code of page)
4. inside this small window, choose network from menu
5. choose "XHR" from small menu beneath the network menu.
6.  a long list of item will be displayed inside small windos, right click on get request (I choose "

[2020-06-07 06:39] codencoffe commented on #81
1. I had this issue consistently when i was using username and password.
2. Now I am using cookies text file and having this issue sometime only due to cookies expiry, Network issue (multiple users downloading same time).
3. This is painful, when you start downloading a multiple course overnight and in the morning you discover it stuck on first course only.

Developer, please suggest a work around

[2020-06-07 06:47] codencoffe commented on #78
Hello,
Have you tried
1. using different quality e.g 720
2. using cookies.txt file
Thx

[2020-06-25 07:40] r0oth3x49 commented on #81
@codencoffe i have started working on updating all the repo, soon will update this one too and release new version.

[2020-06-26 07:28] r0oth3x49 commented on #81
@imtiendat i don't provide any exe file for this repository so if you are using some sort of exe use it on your own risk, i 'm not responsible for anything. you should use this repository using python.

[2020-06-26 07:33] #80 closed, assigned to nobody

[2020-07-15 10:24] ambi1997 opened #82 "Cant login using cookies."
Can anyone be specific what to put in the cookies.txt?
I put the request headers in the cookies.txt file as specified in the README, but it's not working.

Thank you.

[2020-07-17 20:07] nixklai commented on #82
Please check [this comment](https://github.com/r0oth3x49/lynda-dl/issues/80#issuecomment-640165445), although I do think it should be clearer on the documentation side.

[2020-07-17 20:17] nixklai commented on #82
I think it is because of the behaviour of `lynda-dl` expecting a `token` cookie which no longer exists in LinkedIn Learning, as shown [here](https://github.com/r0oth3x49/lynda-dl/blob/6031cb69fd8bce086e9193d4aefa89a2f0861c1f/lynda/_auth.py#L163).

[2020-07-17 20:32] ambi1997 commented on #82
I see.

[2020-07-17 20:35] ambi1997 commented on #82
Anyways, Thank you @nixklai  , I used youtube-dl to download them.

[2020-07-20 05:21] HeinKoZin opened #83 "Learning Path Download"
I have to download Learning Path from Lynda. Please this feature in future version.

[2020-07-30 17:36] nixklai commented on #82
@r0oth3x49 is there a plan on fixing it?

[2020-07-30 19:11] r0oth3x49 commented on #83
PRs are welcome for this. currently i don't have plan for adding this feature.

[2020-07-30 19:11] #83 closed, assigned to nobody

[2020-07-30 19:20] r0oth3x49 commented on #82
@nixklai can you share you cookies on my email `nasir251292@gmail.com`, so that i can check what is used to authenticate the user with Linkedin learning

[2020-07-30 19:47] #81 closed, assigned to nobody

[2020-07-30 19:48] r0oth3x49 commented on #82
btw @nixklai you should probably search the same course on `https://www.lynda.com/` and provide the url to download in your case it should be `https://www.lynda.com/InCopy-tutorials/Learning-InCopy/521143-2.html`

[2020-07-30 19:49] r0oth3x49 commented on #79
PRs are welcome, for now i don't have any plan to add this feature so i 'm going to close the issue

[2020-07-30 19:49] #79 closed, assigned to nobody

[2020-07-30 19:55] r0oth3x49 commented on #82
plus one more thing the cookie which you are providing is of linkedin not lynda, it only works with lynda not linkedin

[2020-07-31 03:57] nixklai commented on #82
@r0oth3x49  I have sent you my cookie jar file with email. Since my account is an institute account so I can't give you my credential. However, here are some observations I noticed from LinkedIn Learning (LL) and other downloaders:
1. The `token` cookie no longer exist in LL, and is replaced with `li_at`
2. The subtitle track is now bundled with other materials and sends at `https://www.linkedin.c

[2020-08-14 15:46] nixklai commented on #82
I think Lynda.com are phasing out after the acquisition by LinkedIn, so it may be a good idea to support LinkedIn Learning. My Lynda.com institute account got transferred to LinkedIn Learning awhile ago.

[2020-09-09 08:35] r0oth3x49 commented on #82
@nixklai this utility will only work with lynda.com not linkedin, while another thing which is checked is implementing linkedin updates are complex so PRs are welcome for that. closing the issue as won't fix

[2020-09-09 08:35] #82 closed, assigned to nobody

[2020-09-13 04:23] rallantan opened #84 "File "lynda-dl.py", line 7, in <module>"
When i am trying to download from lynda I am getting the below error

File "lynda-dl.py", line 7, in <module>
    import lynda
  File "C:\Users\Newbark\Desktop\lynda downloader\lynda-dl-master\lynda\__init__.py", line 32, in <module>
    from ._lynda import course
  File "C:\Users\Newbark\Desktop\lynda downloader\lynda-dl-master\lynda\_lynda.py", line 26, in <module>
    from ._internal import Int

[2020-10-04 10:23] r0oth3x49 commented on #84
install requirements before running.

[2020-10-04 10:23] #84 closed, assigned to nobody

[2020-10-18 10:56] Aryansha86 opened #85 "while installing pip with the python version 3.8.1-amd64"
getting this error...

'pip' is not recognized as an internal or external command,
operable program or batch file.

please guide me how to resolve and start download

[2020-10-20 08:38] Aryansha86 opened #86 "Issue: Downloading course information .. |[-] : Connection error : make sure your internet connection is working."
Hello Sir,

I am Facing this issue, mentioned below.

Please Help me about this... I will be waiting for reply...

 oooo                                .o8                      .o8  oooo
 `888                               "888                     "888  `888
  888  oooo    ooo ooo. .oo.    .oooo888   .oooo.        .oooo888   888
  888   `88.  .8'  `888P"Y88b  d88' `888  `P  )88b      d88' `888   8

[2020-11-08 15:36] hong1999 opened #87 "Traceback (most recent call last)"
In the middle of download, I ran into this issue.

File "lynda-dl.py", line 395, in <module>
    main()
  File "lynda-dl.py", line 337, in main
    lynda.course_download(path=options.output, quality=options.quality)
  File "lynda-dl.py", line 162, in course_download
    course = lynda.course(url=self.url, username=self.username, password=self.password, organization=self.organization, cookies=self.

[2020-11-19 07:28] r0oth3x49 commented on #85
You should check how to install install python and pip for python on google.

[2020-11-19 07:28] #85 closed, assigned to nobody

[2021-01-31 04:13] r0oth3x49 commented on #78
PR is welcome for the fix.

[2021-01-31 04:13] #78 closed, assigned to nobody

[2021-01-31 04:14] r0oth3x49 commented on #86
PRs are welcome if you can fix it i will merge the PR.

[2021-01-31 04:14] #86 closed, assigned to nobody

[2021-01-31 04:18] #87 closed, assigned to nobody

[2021-02-03 20:39] fjdogar opened #88 "Error downloading course"
i am trying to download a course using organization login and i get the following error

[*] : Trying to login as organization (calgarylibrary.ca)...
[+] : Logged in successfully.
Traceback (most recent call last):on ..
  File "C:\lyndadl\lynda-dl.py", line 395, in <module>
    main()
  File "C:\lyndadl\lynda-dl.py", line 391, in main
    lynda.course_download(path=options.output, quality=options.

[2021-02-16 20:03] imzza commented on #88
I am getting the sane issue and this issues only happen for the courses that have multiple exercise file links like 10 20 or more.

`raceback (most recent call last):on ..
  File "D:\webserver\PythonPractice\lynda\lyndadl.py", line 244, in <module>
    pat  = os.path.join('some', 'test', 'sample')
  File "D:\webserver\PythonPractice\lynda\lyndadl.py", line 238, in main
    lynda.course_download(pa

[2021-03-10 23:04] carlosfilhoadm opened #89 "Downloader For Linkedin Learning?"
Hi,

Since Linkedin is about to shutdown Lynda.com and migrate all accounts to Linkedin Learning, do you have any plans to create a similar downloading tool for Linkedin Learning?

Of all downloaders for Lynda.com that I tried, lynda-dl is one of the easiest (if not the easiest) to install and use.

[2021-04-21 22:54] Rabiulcse1998 opened #90 "Please upgrade Lynda-dl to Linkedin Learning"
Dear Nasir Khan, Thanks a lot for lynda-dl. Your tool was outstanding. Due to the upgrade of Lyna.com to Linkedin Learning. The tool is not working. Would you please upgrade it.

[2021-04-25 13:28] Rabiulcse1998 opened #91 "Showing Error on downloading course"
The lynda dl is not working on linux as well as windows. May due to the upgrade of lynda dl to linkedin learning. Would you please upgrade it.

[2021-04-29 01:35] Rabiulcse1998 opened #92 "Please update the lynda-dl for linkedin learning"

[2021-08-18 10:39] Ashish-Sharma-bits opened #93 "Error : Failed to extract login form"
Hi,
I am trying to login through nypl.org with my library card id and password but it says failed to extract login form. I think Lynda has changed login process since 2018. please update the code. thanks

[2021-11-11 14:24] sugesh1137 commented on #41
I too have been facing the same issue! Is there any fix ??

Let me paste some evidences here..

[root@localhost acloud-dl]# python3 acloud-dl.py -c file_containing_cookie.txt --info

              __                __          ____
  ____ ______/ /___  __  ______/ /     ____/ / /
 / __ `/ ___/ / __ \/ / / / __  /_____/ __  / /
/ /_/ / /__/ / /_/ / /_/ / /_/ /_____/ /_/ / /
\__,_/\___/_/\____/\__,_